/* height */
.height-5vh {
  height: 5vh;
}

.height-8vh {
  height: 8vh;
}

.height-25px {
  height: 25px;
}

/* line */
.vert-line {
  border-left: 3px solid black;
  height: 8vh;
}

.vert-line-between {
  border-left: 3px solid black;
  height: 5vh;
}

/* circle */
.circ {
  height: 25px;
  width: 25px;
  background-color: black;
  border-radius: 50%;
}

/* classes */
/* displays */
.disp-flex-center {
  display: flex;

  align-items: center;
  justify-content: center;
}

.dis-flex-left {
  justify-content: left;
}

.dis-flex-right {
  justify-content: right;
}

.disp-grid-3col {
  display: grid;

  grid-template-columns: 30% 10% 60%;
}

/* fonts */
/* family */
.font-family-arial {
  font-family: Arial, Helvetica, sans-serif;
}

/* colors */
.font-color-lightgrey {
  color: rgb(178, 178, 178);
}

/* sizes */
.font-size-45px {
  font-size: 45px;
}

.font-size-15px {
  font-size: 15px;
}

/* margins */
/* block */
.marg-block-30px {
  margin-block: 30px;
}

/* paddings */
/* inline */
.pad-inline-15px {
  padding-inline: 15px;
}


/* borders */
.border-2px-solid-black {
  border: 2px solid black;
}

/* border radius */
.border-radius-25px {
  border-radius: 25px;
}

.background-red {
  background-color: red;
}