body {
  margin: 0;
}

/* id */
#content-container {
  width: 100vh;
}

#container-header {
  height: 25vh;
}

#container-main {
  height: 75vh;
}

#header-subtitle {
  height: 5vh;
}

#main-list {
  height: 60vh;
  background-color: cyan;
}

#main-list-bottom {
  height: 20vh;
}

#main-bottom {
  height: 15vh;
}

#main-bottom-input form {
  margin: 0;
}

/* classes */
.main-list-left-element {
  display: flex;

  align-items: center;
  justify-content: right;

  height: 25px;
}

.main-list-middle-element {
  display: flex;

  align-items: center;
  justify-content: center;
}

.main-list-right-element {
  display: flex;

  align-items: center;
  justify-content: left;

  height: 25px;
}

.button-bottom {
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 32px;
  cursor: pointer;
  font-size: 14px;
}

.button-submit {
  border: 1px solid black;
  border-radius: 2px;
  padding: 5px 8px;
  cursor: pointer;
  font-size: 14px;
}

.input-bottom {
  border: 1px solid black;
  padding: 5px 8px;
}